<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
        <div class="col-8 offset-2">
    
    <h3>Edit listing</h3>
    <form method="post" class="needs-validation" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data" novalidate>
        <div class="mb-3 ">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" value="<%= listing.title %>" required name="listing[title]">
             <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Enter a title</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required ><%=listing.description%></textarea>
             <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Enter description</div>
        </div>

        
        <div class="mb-3">
           Original listing image :<br>
           <img src="<%= originalImageUrl%>" >

        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload new Image</label>
            <input type="file" class="form-control" name="listing[image]">

        </div>
        
        <div class="row">

            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" value="<%= listing.price %>" class="form-control" required name="listing[price]">
                 <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Enter price</div>
            </div>
            
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" value="<%= listing.country %>" class="form-control" name="listing[country]">
                 <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Enter country</div>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" value="<%= listing.location %>" required name="listing[location]">
             <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Enter location</div>
        </div>
            
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
    </div>
</div>

