<% layout("/layouts/boilerplate") %> 
<style>
  #filters{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid gray;
    border-radius: 10%;
    margin-top: 1rem;
    justify-content: space-between;
    width: 100%;
  }
  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
      transform: translateY(4px);
  }
  #options{
    display: flex;
    justify-content: space-between;
  }
 
  #switch{
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: 2rem;
    border: 1px solid gray;
    border-radius: 20%;
    padding: 0.5rem 3rem 0.5rem 1rem;
    width: fit-content;
    
  }
  .tax-info{
    display: none;
  }
</style>
        <div id="options">
        <div id="filters">
            <div class="filter">
             <div> <i class="fa-solid fa-fire"></i></div>
              <p>Trending</p>
            </div>
            <div class="filter">
             <div> <i class="fa-solid fa-bed"></i></div>
              <p>Rooms</p>
            </div>
            <div class="filter">
             <div> <i class="fa-solid fa-mountain-city"></i></div>
              <p>Iconic cities</p>
            </div>
            <div class="filter">
             <div> <i class="fa-solid fa-mountain"></i></div>
              <p>Mountains</p>
            </div>
            <div class="filter">
             <div> <i class="fa-brands fa-fort-awesome"></i></div>
              <p>Castles</p>
            </div>
            <div class="filter">
             <div><i class="fa-solid fa-person-swimming"></i></div>
              <p>Amazing Pools</p>
            </div>
            <div class="filter">
             <div><i class="fa-solid fa-campground"></i></div>
              <p>Camping</p>
            </div>
            <div class="filter">
             <div><i class="fa-solid fa-cow"></i></div>
              <p>Farms</p>
            </div>
            <div class="filter">
             <div><i class="fa-solid fa-snowman"></i></div>
              <p>Arctic</p>
            </div>
            <div class="filter">
             <div><i class="fa-solid fa-landmark-dome"></i></div>
              <p>Dome</p>
            </div>
        </div>
        <div class="form-check-reverse form-switch" id="switch">
  <input class="form-check-input" type="checkbox"  id="switchCheckDefault" role="switch" >
  <label class="form-check-label" for="switchCheckDefault">Display price after tax</label>
</div>
        </div>
   
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3 h-100">
        <% for(let listing of allListings){%>
            <div class="card col listing-card">
                <a href="/listings/<%=listing._id%>" class="listing-link ">
                <img src="<%=listing.image.url%>" class="card-img-top" style="height: 20rem;" alt="listing_image">
                <div class="card-img-overlay"></div>
                <div class="card-body d-flex flex-column">
                  <h3 class="card-title"><%=listing.title%></h3>
                  <h5 class="card-price">&#8377;<%=Number(listing.price).toLocaleString("en-in")%> / night</h5>
                  <i class="tax-info">&nbsp;&nbsp; +18% GST</i>
                  <p class="card-text desc"><%=listing.description%></p>
                  <a href="/listings/<%=listing._id%>" class="btn btn-primary view-btn">View</a>
                </div>
              </div>
            </a>
        <% }%>
    </div>

    <script>
      let taxSwitch = document.getElementById("switchCheckDefault");
      taxSwitch.addEventListener('click', ()=>{
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo){
          if(info.style.display != "inline"){
            info.style.display = "inline"
          }else{
            info.style.display = "none"
          }
        }
      })
    </script>